.form__paragraf {
  color: var(--color-text);
}

.form__label {
  color: var(--color-text);
  font-weight: bold;
  margin-right: 10px;
}

.form__select {
  border: none;
  border-radius: 12px;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 5px;
}
